            <h2 class="h1 text-center text-sm-start mb-4">Šta je Reciklažica?</h2>
            <p>Ovo ste dugo čekali! Prva ekološka akcija u Crnoj Gori - Reciklažica!💚</p>
            <p><em>Svake poslednje subote u mesecu</em> u određenim gradovima Crne Gore, pokret "Zeleni Jadran" sakuplja sekundarne sirovine od građana države. </p>
            <p class="pb-2 pb-lg-4 pb-xl-5 mb-3">Posle akcije, sekundarne sirovine će se naći na Dvorištu opštine Kotor, gde će biti predate dobavljačima, za dalju predaju prerađivačima.</p>
