            <h2 class="h1 text-center text-sm-start mb-4">What is  Reciklažica?</h2>
            <p>You've been waiting it for so long! For the first time in Montenegro - environmental initiative Reciklažica!💚</p>
            <p><em>Every last Saturday of the month</em> in certain cities of Montenegro, the Green Adriatic movement collects recyclables from the inhabitants of the country. </p>
            <p class="pb-2 pb-lg-4 pb-xl-5 mb-3">After the campaign, the recyclables will go to collection and separation yard of Kotor community, where it will be prepared for further transfer to processing plant.</p>
