            <h1 class="mb-4">Organizers</h1>
            <p class="fs-lg pb-lg-3 mb-4">Behind the success of such a large and complex project stands the whole team of the <strong>"Green Adriatic"</strong> movement, whose goal is to raise people's awareness, care for the environment and popularize the idea of waste separation and recycling!</p>
              <h2 class="h5 mb-4">Special thanks to the recycling yard Reciklažno Dvorište Lovanja</h2>
            <a href="#" class="btn btn-primary shadow-primary btn-lg">More about the organization</a>
