            <h1 class="mb-4">Организаторы</h1>
            <p class="fs-lg pb-lg-3 mb-4">За успехом такого большого и сложного проекта стоит целая команда движения <strong>"Зелёная Адриатика"</strong>, целью которой является повышение осознанности людей, забота об окружающей среде и популяризация идеи разделения и переработки отходов!</p>
              <h2 class="h5 mb-4">Отдельное спасибо перерабатывающему кооперативу Reciklažno Dvorište Lovanja</h2>
            <a href="#" class="btn btn-primary shadow-primary btn-lg">Подробнее об организации</a>
