            <h1 class="mb-4">Organizatori</h1>
            <p class="fs-lg pb-lg-3 mb-4">Iza uspeha tako velikog i složenog projekta stoji ceo tim pokreta <strong>"Zeleni Jadran"</strong>, čiji je cilj da podigne svest ljudi, briga o okruženju i popularizacija ideje razdvajanja i prerađivanja otpada!</p>
              <h2 class="h5 mb-4">Posebno se zahvaljujemo reciklažom kolektivu Reciklažno Dvorište Lovanja</h2>
            <a href="#" class="btn btn-primary shadow-primary btn-lg">Detaljnije o organizaciji</a>
