          <h2 class="h1 text-center text-md-start mb-lg-4 pt-1 pt-md-4">What do we accept?!</h2>
          <div class="row align-items-center pb-5 mb-lg-2">
            <div class="col-md-8 text-center text-md-start">
              <p class="fs-lg text-muted mb-md-0">Montenegro is taking its first steps in recycling and not everything can be recycled at this moment.</p>
              <p class="fs-lg text-muted mb-md-0">Please note that <mark>only 4 types of recyclables</mark> are currently accepted by volunteers at Reciklažica:</p>
            </div>
            <!-- <div class="col-md-4 d-flex justify-content-center justify-content-md-end"> -->
              <!-- <a href="services-v1.html" class="btn btn-outline-primary btn-lg">See all services</a> -->
            <!-- </div> -->
          </div>
          <div class="row row-cols-1 row-cols-lg-2">

            <!-- Item 1 -->
            <div class="col py-4 my-2 my-sm-3">
              <div class="card card-hover h-100 border-0 shadow-sm text-decoration-none pt-5 px-sm-3 px-md-0 px-lg-3 pb-sm-3 pb-md-0 pb-lg-3 me-xl-2">
                <div class="card-body pt-3">
                  <div class="d-inline-block rounded-3 position-absolute top-0 translate-middle-y p-3">
                    <img src="../assets/img/icons/logo-plastic.png" class="d-block mb-3" width="100" alt="Logo">
                  </div>
                  <h2 class="h4 d-inline-flex align-items-center">
                    Plastic
                    <i class="bx bx-down-arrow-circle text-primary fs-3 ms-2"></i>
                  </h2>
                  <p class="py-2 pb-lg-3 mb-3 border-top">The following categories of plastic are accepted:</p>
                  <ul class="list-unstyled">
                      <li><i class="bx bx-recycle fs-4 text-primary me-1 icon-position-low"></i><strong>01 PET(E): </strong>Transparent drink bottles (blue, green, brown)</li>
                      <li><i class="bx bx-recycle fs-4 text-primary me-1 icon-position-low"></i><strong>01 PET(E): </strong>Colored drink bottles (yogurt, kefir)</li>
                      <li><i class="bx bx-recycle fs-4 text-primary me-1 icon-position-low"></i><strong>02 HDPE: </strong>Packaging for household chemicals with lids (powder, conditioner, dishwashing detergent, cleaning products)</li>
                      <li><i class="bx bx-recycle fs-4 text-primary me-1 icon-position-low"></i><strong>02 HDPE: </strong>Plastic bags</li>
                      <li><i class="bx bx-recycle fs-4 text-primary me-1 icon-position-low"></i><strong>02 HDPE: </strong>Bottle caps</li>
                      <li><i class="bx bx-recycle fs-4 text-primary me-1 icon-position-low"></i><strong>04 LDPE: </strong>Plastic bags, zip-locks</li>
                      <li><i class="bx bx-recycle fs-4 text-primary me-1 icon-position-low"></i><strong>05 PP: </strong>Packaging for dairy products (yogurt, sour cream, kaymak, cheese)</li>
                      <li><i class="bx bx-recycle fs-4 text-primary me-1 icon-position-low"></i><strong>05 PP: </strong>Large rigid or bulky plastic items (tables, chairs, drawers, lawn furniture, buckets)</li>
                  </ul>
                  <div class="alert alert-danger" role="alert">
                      <p class="pb-2 pb-lg-3 mb-3"><u><strong>WE DO NOT ACCEPT:</strong></u></p>
                    <ul>
                        <li>Styrofoam</li>
                        <li>White foam trays for food (cheese, ham)</li>
                        <li>Plastic tubes of toothpaste</li>
                        <li>Transparent food containers</li>
                        <li>Chips and snacks packaging</li>
                        <li>PVC, pipes for sewerage and plumbing</li>
                        <li>Nylon (toothbrushes, socks, tights)</li>
                        <li>Plastic bags with stickers</li>
                        <li>DIRTY AND UNWASHED</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
  
            <!-- Item 2 -->
            <div class="col py-4 my-2 my-sm-3">
              <div class="card card-hover h-100 border-0 shadow-sm text-decoration-none pt-5 px-sm-3 px-md-0 px-lg-3 pb-sm-3 pb-md-0 pb-lg-3 ms-xl-2">
                <div class="card-body pt-3">
                  <div class="d-inline-block rounded-3 position-absolute top-0 translate-middle-y p-3">
                    <img src="../assets/img/icons/logo-metal.png" class="d-block mb-3" width="100" alt="Logo">
                  </div>
                  <h2 class="h4 d-inline-flex align-items-center">
                    Iron, tin, aluminum
                    <i class="bx bx-down-arrow-circle text-primary fs-3 ms-2"></i>
                  </h2>
                  <p class="py-2 pb-lg-3 mb-3 border-top">The following types of recyclables are accepted:</p>
                  <ul class="list-unstyled">
                      <li><i class="bx bx-recycle fs-4 text-primary me-1 icon-position-low"></i><strong>40 FE: </strong>Food cans</li>
                      <li><i class="bx bx-recycle fs-4 text-primary me-1 icon-position-low"></i><strong>41 ALU: </strong>Aluminum cans</li>
                      <li><i class="bx bx-recycle fs-4 text-primary me-1 icon-position-low"></i><strong>41 ALU: </strong>Foil (foil itself, top foil caps/stickers for sour cream, yogurt)</li>
                  </ul>
                  <div class="alert alert-danger" role="alert">
                      <p class="pb-2 pb-lg-3 mb-3"><u><strong>WE DO NOT ACCEPT:</strong></u></p>
                    <ul>
                        <li>Chips and snacks packaging</li>
                        <li>RUSTY</li>
                        <li>DIRTY AND UNWASHED</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
  
            <!-- Item 3 -->
            <div class="col py-4 my-2 my-sm-3">
              <div class="card card-hover h-100 border-0 shadow-sm text-decoration-none pt-5 px-sm-3 px-md-0 px-lg-3 pb-sm-3 pb-md-0 pb-lg-3 me-xl-2">
                <div class="card-body pt-3">
                  <div class="d-inline-block rounded-3 position-absolute top-0 translate-middle-y p-3">
                    <img src="../assets/img/icons/logo-paper.png" class="d-block mb-3" width="100" alt="Logo">
                  </div>
                  <h2 class="h4 d-inline-flex align-items-center">
                    Paper, cardboard
                    <i class="bx bx-down-arrow-circle text-primary fs-3 ms-2"></i>
                  </h2>
                  <p class="py-2 pb-lg-3 mb-3 border-top">The following paper products are accepted:</p>
                  <ul class="list-unstyled">
                      <li><i class="bx bx-recycle fs-4 text-primary me-1 icon-position-low"></i><strong>20 PAP: </strong>Large carton (boxes)</li>
                      <li><i class="bx bx-recycle fs-4 text-primary me-1 icon-position-low"></i><strong>21 PAP: </strong>Carton packages (eggs, cereals, muesli, porrige, oatmeal)</li>
                      <li><i class="bx bx-recycle fs-4 text-primary me-1 icon-position-low"></i><strong>22 PAP: </strong>Paper (newspapers, books, magazines, notebooks)</li>
                  </ul>
                  <div class="alert alert-danger" role="alert">
                      <p class="pb-2 pb-lg-3 mb-3"><u><strong>WE DO NOT ACCEPT:</strong></u></p>
                    <ul>
                        <li>Thermal paper (checks)</li>
                        <li>Tetrapack</li>
                        <li>Paper containing plastic</li>
                        <li>Paper with tape</li>
                        <li>Napkins</li>
                        <li>WET AND DIRTY</li>
                        <li>WITH GREASY/OILY STAINS</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
  
            <!-- Item 4 -->
            <div class="col py-4 my-2 my-sm-3">
              <div class="card card-hover h-100 border-0 shadow-sm text-decoration-none pt-5 px-sm-3 px-md-0 px-lg-3 pb-sm-3 pb-md-0 pb-lg-3 ms-xl-2">
                <div class="card-body pt-3">
                  <div class="d-inline-block rounded-3 position-absolute top-0 translate-middle-y p-3">
                    <img src="../assets/img/icons/logo-battery.png" class="d-block mb-3" width="100" alt="Logo">
                  </div>
                  <h2 class="h4 d-inline-flex align-items-center">
                    Batteries
                    <i class="bx bx-down-arrow-circle text-primary fs-3 ms-2"></i>
                  </h2>
                  <p class="py-2 pb-lg-3 mb-3 border-top">The following categories are accepted:</p>
                  <ul class="list-unstyled">
                      <li><i class="bx bx-recycle fs-4 text-primary me-1 icon-position-low"></i><strong>08 Lead: </strong>Car batteries</li>
                      <li><i class="bx bx-recycle fs-4 text-primary me-1 icon-position-low"></i><strong>09 Alkaline: </strong>Alkaline batteries (remotes, flashlights, AA, AAA)</li>
                      <li><i class="bx bx-recycle fs-4 text-primary me-1 icon-position-low"></i><strong>10 NiCd: </strong>Old Nickel-cadmium batteries</li>
                      <li><i class="bx bx-recycle fs-4 text-primary me-1 icon-position-low"></i><strong>11 NiMH: </strong>Nickel-metal hydride batteries</li>
                      <li><i class="bx bx-recycle fs-4 text-primary me-1 icon-position-low"></i><strong>12 Li: </strong>Lithium battery (phones, photo-cameras, cameras, computers)</li>
                      <li><i class="bx bx-recycle fs-4 text-primary me-1 icon-position-low"></i><strong>13 SO(Z): </strong>Silver-zinc batteries (watches, key chains)</li>
                      <li><i class="bx bx-recycle fs-4 text-primary me-1 icon-position-low"></i><strong>14 CZ: </strong>Manganese-zinc cells (large flashlight batteries)</li>
                  </ul>
                  <div class="alert alert-danger" role="alert">
                      <p class="pb-2 pb-lg-3 mb-3"><u><strong>WE DO NOT ACCEPT:</strong></u></p>
                    <ul>
                        <li>RUSTY</li>
                        <li>DIRTY AND UNWASHED</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
