          <div class="col-12">
            <h2 class="h1 text-center text-sm-start pb-2 pb-lg-0 mb-4 mb-lg-5">Schedule</h2>
          </div>
          <div class="col-lg-3 mb-4">

            <!-- Nav tabs -->
            <div class="nav flex-nowrap flex-lg-column nav-tabs" role="tablist" aria-orientation="vertical">
              <a href="#day-1" class="nav-link d-block w-100 rounded-3 p-4 p-xl-5 me-2 me-sm-3 me-lg-0 mb-lg-3 active" id="day-1-tab" data-bs-toggle="tab" role="tab" aria-controls="day-1" aria-selected="true">
                <div class="fs-xl">{{ title .Site.Params.saturdayEn }}</div>
                <div class="fs-3 fw-bold">{{ .Site.Params.nextMonthEn }} {{ .Site.Params.nextDay }}, {{ .Site.Params.currentYear }}</div>
              </a>
              <a href="#day-2" class="nav-link d-block w-100 rounded-3 p-4 p-xl-5" id="day-2-tab" data-bs-toggle="tab" role="tab" aria-controls="day-2" aria-selected="false">
                <div class="fs-xl">{{ title .Site.Params.saturdayEn }}</div>
                <div class="fs-3 fw-bold">{{ .Site.Params.afterNextMonthEn }} {{ .Site.Params.afterNextDay }}, {{ .Site.Params.currentYear }}</div>
              </a>
            </div>
          </div>
          <div class="col-lg-8 offset-lg-1">

            <!-- Tab panes -->
            <div class="tab-content">

              <!-- Day 1 schedule -->
              <div class="tab-pane fade show active" id="day-1" role="tabpanel" aria-labelledby="day-1-tab">
                <div class="border-bottom pb-4">
                  <div class="row pb-1 pb-xl-3">
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <div class="h5 mb-1">10:00 - 12:00</div>
                      <!-- <span class="badge bg-info shadow-info fs-sm">Glass accepted exclusively here</span> -->
                    </div>
                    <div class="col-sm-8">
                      <h5>Bar</h5>
                      <p class="mb-4">Abandoned building behind Aroma supermarket
                      <a href="https://maps.app.goo.gl/VZXe2cAqYjbNhPHs5" class="btn btn-link px-2">
                        Show on map
                      <i class="bx bx-right-arrow-alt fs-xl ms-2"></i>
                      </a></p>
                    </div>
                  </div>
                </div>
                <div class="border-bottom py-4">
                  <div class="row py-1 py-xl-3">
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <div class="h5 mb-1">10:30 - 12:00</div>
                    </div>
                    <div class="col-sm-8">
                      <h5>Sutomore</h5>
                      <p>Near Pekara Mladost
                      <a href="https://goo.gl/maps/jWLovCBiFoUXGhd46" class="btn btn-link px-2">
                        Show on map
                      <i class="bx bx-right-arrow-alt fs-xl ms-2"></i>
                      </a></p>
                    </div>
                  </div>
                </div>
                <div class="border-bottom py-4">
                  <div class="row py-1 py-xl-3">
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <div class="h5 mb-1">11:00 – 13:00</div>
                    </div>
                    <div class="col-sm-8">
                      <h5>Budva</h5>
                      <p class="mb-4">On the school "Stefan Mitrov Ljubisa" premises
                      <a href="https://goo.gl/maps/zgKWBqrCpkEdasms5" class="btn btn-link px-2">
                        Show on map
                      <i class="bx bx-right-arrow-alt fs-xl ms-2"></i>
                      </a></p>
                    </div>
                  </div>
                </div>
                <div class="border-bottom py-4">
                  <div class="row py-1 py-xl-3">
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <div class="h5 mb-1">10:00 – 12:00</div>
                    </div>
                    <div class="col-sm-8">
                      <h5>Kotor</h5>
                      <p class="mb-4">Between parking and canal
                      <a href="https://goo.gl/maps/rBWwP2WUNWBvNGrX8" class="btn btn-link px-2">
                        Show on map
                      <i class="bx bx-right-arrow-alt fs-xl ms-2"></i>
                      </a></p>
                    </div>
                  </div>
                </div>
                <div class="border-bottom py-4">
                  <div class="row py-1 py-xl-3">
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <div class="h5 mb-1">9:00 – 11:00</div>
                    </div>
                    <div class="col-sm-8">
                      <h5>Herceg Novi</h5>
                      <p class="mb-4">At the parking by Apetit restaurant
                      <a href="https://goo.gl/maps/KeNgede6thWfgMun7" class="btn btn-link px-2">
                        Show on map
                      <i class="bx bx-right-arrow-alt fs-xl ms-2"></i>
                      </a></p>
                    </div>
                  </div>
                </div>
                <div class="border-bottom py-4">
                  <div class="row py-1 py-xl-3">
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <div class="h5 mb-1">10:00 - 12:00</div>
                      <span class="badge bg-success shadow-success fs-sm">New location!</span>
                    </div>
                    <div class="col-sm-8">
                      <h5>Kumbor</h5>
                      <p class="mb-4">On "Adriatic Novi" school premises
                      <a href="https://maps.app.goo.gl/b5pXsYA9KnmPtXu49" class="btn btn-link px-2">
                          Show on map
                      <i class="bx bx-right-arrow-alt fs-xl ms-2"></i>
                      </a></p>
                    </div>
                  </div>
                </div>
                <div class="border-bottom py-4">
                  <div class="row py-1 py-xl-3">
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <div class="h5 mb-1">10:00 – 12:00</div>
                    </div>
                    <div class="col-sm-8">
                      <h5>Tivat</h5>
                      <p class="mb-4">Across Porto Montenegro by the entrance of Komunalno DOO
                      <a href="https://goo.gl/maps/1Amwp8aS2vVPAHaG6" class="btn btn-link px-2">
                        Show on map
                      <i class="bx bx-right-arrow-alt fs-xl ms-2"></i>
                      </a></p>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Day 2 schedule -->
              <div class="tab-pane fade" id="day-2" role="tabpanel" aria-labelledby="day-2-tab">
                <div class="border-bottom pb-4">
                  <div class="row pb-1 pb-xl-3">
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <div class="h5 mb-1">10:00 - 12:00</div>
                    </div>
                    <div class="col-sm-8">
                      <h5>Bar</h5>
                      <p class="mb-4">Abandoned building behind Aroma supermarket
                      <a href="https://maps.app.goo.gl/VZXe2cAqYjbNhPHs5" class="btn btn-link px-2">
                        Show on map
                      <i class="bx bx-right-arrow-alt fs-xl ms-2"></i>
                      </a></p>
                    </div>
                  </div>
                </div>
                <div class="border-bottom py-4">
                  <div class="row py-1 py-xl-3">
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <div class="h5 mb-1">10:30 - 12:00</div>
                    </div>
                    <div class="col-sm-8">
                      <h5>Sutomore</h5>
                      <p>Near Pekara Mladost
                      <a href="https://goo.gl/maps/jWLovCBiFoUXGhd46" class="btn btn-link px-2">
                        Show on map
                      <i class="bx bx-right-arrow-alt fs-xl ms-2"></i>
                      </a></p>
                    </div>
                  </div>
                </div>
                <div class="border-bottom py-4">
                  <div class="row py-1 py-xl-3">
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <div class="h5 mb-1">11:00 – 13:00</div>
                    </div>
                    <div class="col-sm-8">
                      <h5>Budva</h5>
                      <p class="mb-4">On the school "Stefan Mitrov Ljubisa" premises
                      <a href="https://goo.gl/maps/zgKWBqrCpkEdasms5" class="btn btn-link px-2">
                        Show on map
                      <i class="bx bx-right-arrow-alt fs-xl ms-2"></i>
                      </a></p>
                    </div>
                  </div>
                </div>
                <div class="border-bottom py-4">
                  <div class="row py-1 py-xl-3">
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <div class="h5 mb-1">10:00 – 12:00</div>
                    </div>
                    <div class="col-sm-8">
                      <h5>Kotor</h5>
                      <p class="mb-4">Between parking and canal
                      <a href="https://goo.gl/maps/rBWwP2WUNWBvNGrX8" class="btn btn-link px-2">
                        Show on map
                      <i class="bx bx-right-arrow-alt fs-xl ms-2"></i>
                      </a></p>
                    </div>
                  </div>
                </div>
                <div class="border-bottom py-4">
                  <div class="row py-1 py-xl-3">
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <div class="h5 mb-1">9:00 – 11:00</div>
                    </div>
                    <div class="col-sm-8">
                      <h5>Herceg Novi</h5>
                      <p class="mb-4">At the parking by Apetit restaurant
                      <a href="https://goo.gl/maps/KeNgede6thWfgMun7" class="btn btn-link px-2">
                        Show on map
                      <i class="bx bx-right-arrow-alt fs-xl ms-2"></i>
                      </a></p>
                    </div>
                  </div>
                </div>
                <div class="border-bottom py-4">
                  <div class="row py-1 py-xl-3">
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <div class="h5 mb-1">10:00 - 12:00</div>
                      <span class="badge bg-success shadow-success fs-sm">New location!</span>
                    </div>
                    <div class="col-sm-8">
                      <h5>Kumbor</h5>
                      <p class="mb-4">On "Adriatic Novi" school premises
                      <a href="https://maps.app.goo.gl/b5pXsYA9KnmPtXu49" class="btn btn-link px-2">
                          Show on map
                      <i class="bx bx-right-arrow-alt fs-xl ms-2"></i>
                      </a></p>
                    </div>
                  </div>
                </div>
                <div class="border-bottom py-4">
                  <div class="row py-1 py-xl-3">
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <div class="h5 mb-1">11:00 – 12:00</div>
                    </div>
                    <div class="col-sm-8">
                      <h5>Tivat</h5>
                      <p class="mb-4">Across Porto Montenegro by the entrance of Komunalno DOO
                      <a href="https://goo.gl/maps/1Amwp8aS2vVPAHaG6" class="btn btn-link px-2">
                        Show on map
                      <i class="bx bx-right-arrow-alt fs-xl ms-2"></i>
                      </a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
